# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [56]:
# importing library
from datetime import datetime

# saving the current date and time in a variable
current_date_time = datetime.now()

# Display time
print(current_date_time)

2025-08-11 01:54:07.312416

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [66]:
# Alternative way using built-in math

# import math
# def area_circle(radious):
#     return math.pi * (radious ** 2)


# Result rounded to two decimals

# def area_circle(radious):
#     pi_num = 3.14
#     return round( pi_num * (radious ** 2),  2)


# Area of a circle function

def area_circle(radious):
    pi_number = 3.14
    return pi_number * (radious ** 2)

print(area_circle(5))

78.5

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [25]:
# Comparing lengths of the list before and after set()
input_list = [2,4,5,5,7,9] 
print(input_list)
print(set(input_list))

# Cheking if a list has unique numbers 
def is_unique_lis(lis):
    return len(lis) == len(set(lis))
    #Since the list has duplicates the lengths should be different; therefore, it will return False

print(is_unique_lis(input_list))

[2, 4, 5, 5, 7, 9]
{2, 4, 5, 7, 9}
False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [2]:
#Checking the currect working directory to find the proper path for the file to be read
"""
import os
print(os.getcwd())
"""


# Texfile path
file_path = "/workspaces/2025-python-summer-prep/Week-03/intermediate/data/lil-wayne.txt"

# Opening and reading the file
with open(file_path, 'r', encoding="utf8") as f:
    text = f.read()

# Converting characters to uppercase
text = text.upper()

# Dictorary to store characters with their respective counts
char_count = {}

# Storing the information to the dictionary
for char in text:
    # if the char is alredy in the dictonary we add +1 to count 
    if char in char_count:
        char_count[char] += 1
    # if the char is not in the dictionary then we add the char to the dictionary for 1st time
    else:
        char_count[char] = 1
        

print(char_count)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '—': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [3]:
# Variables to store the char and count that appears the most in the dictionary
biggest_count = 0
most_common_char = 0

#char_count = list(char_count.items()) 

# Traversing through the dictionary using items() which returns a view of dictionary’s key-value pairs as tuples:
for char, count in char_count.items():
    if count > biggest_count:
        biggest_count = count
        most_common_char = char
    else:
        pass

#
print(f'The character that appears the most is "{most_common_char}" with a total of {biggest_count} count')

The character that appears the most is " " with a total of 522 count

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [53]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]

fourth_num = list1.pop(3)
list1.append(fourth_num * list1[-1])

# Remove 4th number from the list with for loop
# for num in range(len(list1)):
#     if num == 3:
#         list1.append(list1[num]*list1[-1])
#         list1.remove(list1[num])

print(list1)








#Note. The .append() method modifies the list in place and returns None 
#So when you do list1 = list1.append(...), you assign None back to list1.

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [51]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []

for num in original_list:
    if num % 3 == 0:
        new_list.append(num)

print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [18]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

# Reversing the list with method reverse()
# original_list.reverse()

# Reversin the list with slicing
original_list = original_list[::-1]

print(original_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [21]:
original_list = [1, 2, 3, 4, 5, 6, 7]

for num in range(len(original_list)):
    original_list[num] = original_list[num] ** 2

print(original_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [64]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

# Using the length of list1 and asuming the lists are same length
length = len(list1)

for num in range(length):
    item1 = list1[num]
    item2 = list2[length - num - 1] # first iteration it is legnth is 4 - 0 - 1 = 3  
    print(f"{item1}  {item2}")



# In case a list was shorther than the other zip pais items until the shortes list ends
# Use zip to iterate list1 forward and list2 reversed
# for item1, item2 in zip(list1, reversed(list2)):
#     print(item1, item2)

10  400
20  300
30  200
40  100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [33]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']

for word in list_of_strings[:]:  # [:] creates a shallow copy of the list so the iteration goes over the copy and no the actual list
    if word == '':
        list_of_strings.remove(word)

print(list_of_strings)


#Note best way and more redable with list comprehesion
# list_of_strings = [s for s in list_of_strings if s != '']

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [34]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

#cheking is a value exists in a dictionary with .values() method
if 999 in sample_dict.values():
    print('True')
else:
    print('False')

True

# #12 Fix all the follow broken code snippets below
(I got these examples from a great website, I will reference them later because they have the answers on them.)

In [36]:
greeting = "Hello, possible pirate! What's the password?"
password = 'admin'
message = greeting+password

if message == "Arrr!":  # replace in for == and remove [ and )
	print("Go away, pirate.")
else:  #change elif for an else
	print("Greetings, hater of pirates!") # added the missing indentation

Greetings, hater of pirates!

In [39]:
pages = 457
word_per_page = 250  # remove an exta =
number_of_pieces = 100. # change the - for _

each_chunk = (457 * 250)/10  # remove the [] instead for () to complete the operation
print( each_chunk ) # remove the "" to print the variable each_chunk

11425.0

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [42]:
import pandas as pd

#file path
file_path = "/workspaces/2025-python-summer-prep/Week-03/intermediate/data/titanic.csv"

#reading the csv file
df = pd.read_csv(file_path)

print(df)

     passengerid  survived  pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  name     sex   age  sibsp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     parch            ticket     fare cabin embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [ ]:
#selecting the column named "age" and .mean() calculates the average of all the values in that column.
mean_age = df['age'].mean()


print(f"The mean age is: {mean_age}")

The mean age is: 29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [49]:

# Using .max() and .min() to get the highest and lowest values in the 'age' column.
oldest_age = df['age'].max()
youngest_age = df['age'].min()

print(f"The oldest passenger was {oldest_age} years old.")
print(f"The youngest passenger was {youngest_age} years old.")

The oldest passenger was 80.0 years old.
The youngest passenger was 0.42 years old.

## How many people embarked from station 'S'?